  <style>
    #icon{
        background-color: beige;
    }
    .pop-container{
        background-color: white;
        margin-top: 80px;
        z-index: 10;
        height: 70px;
    }
    .pop-container p{
        margin-top: 17px;
    }
  </style>
  
  <footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <!-- Footer Widgets -->
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4>About</h4>
                <ul>
                    <li><a href="#" aria-label="Contact Us">Contact Us</a></li>
                    <li><a href="#" aria-label="About Us">About Us</a></li>
                    <li><a href="#" aria-label="FAQ">FAQ</a></li>
                    <li><a href="#" aria-label="Customer Service">Customer Service</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4>Top Products</h4>
                <ul>
                    <li><a href="#" aria-label="Managed Website">Managed Website</a></li>
                    <li><a href="#" aria-label="Manage Reputation">Manage Reputation</a></li>
                    <li><a href="#" aria-label="Power Tools">Power Tools</a></li>
                    <li><a href="#" aria-label="Marketing Service">Marketing Service</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="#" aria-label="Jobs">Jobs</a></li>
                    <li><a href="#" aria-label="Brand Assets">Brand Assets</a></li>
                    <li><a href="#" aria-label="Investor Relations">Investor Relations</a></li>
                    <li><a href="#" aria-label="Terms of Service">Terms of Service</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4>Features</h4>
                <ul>
                    <li><a href="#" aria-label="Jobs">Jobs</a></li>
                    <li><a href="#" aria-label="Brand Assets">Brand Assets</a></li>
                    <li><a href="#" aria-label="Investor Relations">Investor Relations</a></li>
                    <li><a href="#" aria-label="Terms of Service">Terms of Service</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4>Resources</h4>
                <ul>
                    <li><a href="#" aria-label="Guides">Guides</a></li>
                    <li><a href="#" aria-label="Research">Research</a></li>
                    <li><a href="#" aria-label="Experts">Experts</a></li>
                    <li><a href="#" aria-label="Agencies">Agencies</a></li>
                </ul>
            </div>
            <!-- Newsletter Section -->
            <div class="col-lg-4 col-md-6 single-footer-widget">
                <div class="form-wrap" id="mc_embed_signup">
                    <form 
                        target="_blank" 
                        action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                        method="get" 
                        class="form-inline"
                        novalidate
                    >
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                        </div>
                        <div class="info"></div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Footer Bottom -->
        <div class="footer-bottom row align-items-center">
            <p class="footer-text m-0 col-lg-8 col-md-12">
                &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved
            </p>
        </div>
    </div>

    <script src="https://unpkg.com/must-pop@2.1.1/dist/library.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const logoutButton = document.getElementById('logoutButton');

            if (logoutButton) {
                logoutButton.addEventListener('click', async () => {
                    try {
                        const response = await fetch('/logout', { method: 'POST' });

                        if (response.ok) {
                            const result = await response.json();
                            if (result.success) {
                                Must.success({time: 1200, content:"You have been logged out successfully!", color:'#27ae60'})
                                document.getElementById("icon").style.backgroundColor = 'beige'
                                document.getElementsByClassName("pop-container")[0].style.borderRadius = '5px'
                                setTimeout(() => {
                                    location.reload(); 
                                },1200)
                            }
                        } else {
                            console.error('Logout failed');
                        }
                    } catch (error) {
                        console.error('Error logging out:', error);
                    }
                });
            }
        });
    </script>
</footer>


<!-- Scripts with integrity and crossorigin attributes -->
<script src="/User/js/jquery-3.2.1.min.js" integrity="sha384-XXXXXXX" crossorigin="anonymous"></script>
<script src="/User/js/popper.js" integrity="sha384-XXXXXXX" crossorigin="anonymous"></script>
<script src="/User/js/bootstrap.min.js" integrity="sha384-XXXXXXX" crossorigin="anonymous"></script>
<script src="/User/js/stellar.js" defer></script>
<script src="/User/vendors/lightbox/simpleLightbox.min.js" defer></script>
<script src="/User/vendors/nice-select/js/jquery.nice-select.min.js" defer></script>
<script src="/User/vendors/isotope/imagesloaded.pkgd.min.js" defer></script>
<script src="/User/vendors/isotope/isotope-min.js" defer></script>
<script src="/User/vendors/owl-carousel/owl.carousel.min.js" defer></script>
<script src="/User/js/jquery.ajaxchimp.min.js" defer></script>
<script src="/User/vendors/counter-up/jquery.waypoints.min.js" defer></script>
<script src="/User/vendors/counter-up/jquery.counterup.js" defer></script>
<script src="/User/js/mail-script.js" defer></script>
<script src="/User/js/theme.js" defer></script>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76ASt8e1rCcw0fF2X3z7mrCwrNxPj8KncGi6KTXtmwQHcwrD3G9DD2Bzjdm8wUb" crossorigin="anonymous"></script>
</body>
</html>