<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" href="/User/img/favcon.png" type="image/png" />
  <title>UrbanDot</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/User/css/bootstrap.css" />
  <link rel="stylesheet" href="/User/linericon/style.css" />
  <link rel="stylesheet" href="/User/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/User/css/themify-icons.css" />
  <link rel="stylesheet" href="/User/css/flaticon.css" />
  <link rel="stylesheet" href="/User/owl-carousel/owl.carousel.min.css" />
  <link rel="stylesheet" href="/User/lightbox/simpleLightbox.css" />
  <link rel="stylesheet" href="/User/nice-select/css/nice-select.css" />
  <link rel="stylesheet" href="/User/animate-css/animate.css" />
  <link rel="stylesheet" href="/User/jquery-ui/jquery-ui.css" />
  <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
  <!-- main css -->
  <link rel="stylesheet" href="/User/css/style.css" />
  <link rel="stylesheet" href="/User/css/responsive.css" />

  <script src="https://unpkg.com/must-pop@2.1.1/dist/library.js"></script>  
  
  <style>
    .nav{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
    }
    .header_area{
      position:sticky;
      width: 100%;
    }
    body{
      position:  relative;
    }
    #logoutButton{
      border: 0;
      color: #00a884;
      background-color: white;
      padding-left: 18px;
      padding-bottom: 10px;
    }
    #loginButton{
      padding-left: 18px;
      padding-bottom: 10px;
    }
  </style>

</head>

<body>
  <header class="header_area">
    <div class="main_menu">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="/">
            <img src="/User/img/logo.svg">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset w-100" id="navbarSupportedContent">
            <div class="row w-100 mr-0">
              <div class="col-lg-7 pr-0">
                <ul class="nav navbar-nav center_nav pull-right">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item submenu dropdown">
                    <a href="/shop" class="nav-link dropdown-toggle" id="shopBtn" data-toggle="dropdown" role="button" aria-haspopup="true"
                      aria-expanded="false">Shop</a>
                    <!-- <ul class="dropdown-menu">
                      <li class="nav-item">
                        <a class="nav-link" href="category.html">Shop Category</a>
                      </li>
                    </ul> -->
                  </li>
        
                  <li class="nav-item submenu dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                      aria-expanded="false">About us</a>
                    <ul class="dropdown-menu"></ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                  </li>
                </ul>
              </div>

              <div class="col-lg-5 pr-0">
                <ul class="nav navbar-nav navbar-right right_nav pull-right">
                  <li class="nav-item">
                    <a href="#" class="icons">
                      <i class="ti-search" aria-hidden="true"></i>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/cart" class="icons">
                      <i class="ti-shopping-cart"></i>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/profile" class="icons">
                      <i class="ti-user" aria-hidden="true"></i>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="#" class="icons">
                      <i class="ti-heart" aria-hidden="true"></i>
                    </a>
                    <% if (isLoggedIn) { %>
                      <button id="logoutButton">Logout</button>
                    <% } else { %>
                      <a href="/login" id="loginButton">Login</a>
                    <% } %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>