<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>UrbanDot | Admin Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/Admin/imgs/theme/favicon.png"/>

    <!-- Template CSS -->
    <link href="/Admin/css/main.css?v=1.1" rel="stylesheet" type="text/css" />

    <script src="https://unpkg.com/must-pop@2.1.1/dist/library.js"></script>  

  </head>

  <body class="addcatBody">
    <%-include("../../Views/Partials/admin/sidebar")%>
    <main class="main-wrap">
      <%-include("../../Views/Partials/admin/header")%>
      <section class="content-main">
        <div class="content-header">
          <div>
            <h2 class="content-title card-title">Categories</h2>
            <p>Add a category</p>
          </div>
        </div>

        <div class="col-md-10"> 
          <form id="form">
            <div class="mb-4">
              <label for="product_name" class="form-label">Name</label>
              <input
                name="name"
                type="text"
                placeholder="Type here"
                class="form-control"
                id="product_name"
              />
            </div>
  
            <div class="mb-4">
              <label class="form-label">Description</label>
              <textarea
                name="description"
                id="descriptionId"
                placeholder="Type here"
                class="form-control"
              ></textarea>
            </div>

            <div class="d-grid">
              <button class="btn btn-primary">Create Category</button>
            </div>
          </form>
        </div>
      </section>
      <%-include("../../Views/Partials/admin/footer")%>
    </main>

    <script>

      document.getElementById("form").addEventListener("submit", async(event)=>{
        event.preventDefault()
        const name = document.getElementById('product_name').value
        const description = document.getElementById('descriptionId').value

        let status = validateForm()

        if(!status) return         
          const response = await fetch("/admin/addCategory",{
            method: "post",
            headers:{
              "Content-Type": "application/json"
            },
          body: JSON.stringify({name, description})
        })

        let data = await response.json();

        if(!data.status){
          return Must.failure({time: 2000, content: data.message})
        }

        setTimeout(()=>{
          window.location.href = '/admin/category'
        },1300)
        Must.success({time: 1300, content: data.message, color:'#27ae60'})

        document.getElementById("icon").style.backgroundColor = 'beige'
        document.getElementsByClassName("pop-container")[0].style.borderRadius = '5px'
      })

      function validateForm(){
        const description = document.getElementById('descriptionId').value       
        const name = document.getElementById('product_name').value 
      
        if(name === ""){
          let nameError = "Please Enter A Name"
          return displayError(nameError)
        }
        else if(!/^[a-zA-Z\s]+$/.test(name)){
          let nameError = "Category name should only contain alphabetic characters"
          return displayError(nameError)
        }

        if(name === "" && description === ""){
          let errorMsg = "Please enter a name and description"
          return displayError(errorMsg)
        }

        if(description === ""){
          let descriptionError = "Please enter a description";
          return displayError(descriptionError)
        }
        return true
      }

      function displayError(message){
        return Must.failure({time:5000, content: message})
      }

    </script>

    <script src="/Admin/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/Admin/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/Admin/js/vendors/select2.min.js"></script>
    <script src="/Admin/js/vendors/perfect-scrollbar.js"></script>
    <script src="/Admin/js/vendors/jquery.fullscreen.min.js"></script>
    
    <!-- Main Script -->
    <script src="/Admin/js/main.js?v=1.1" type="text/javascript"></script>
  </body>
</html>
