<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Error!!</title>
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/Admin/imgs/theme/favicon.png" />
        <!-- Template CSS -->
        <link href="/Admin/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="row">
            <div class="col-sm-12">
                <div class="w-50 vh-100 mx-auto text-center d-flex align-items-center flex-column justify-content-center pb-50">
                    <img src="/Admin/imgs/theme/404.png" width="350" alt="Page Not Found" />
                    <h3 class="mt-40 mb-15">Oops! Page not found</h3>
                    <p>Oops! The page you’re looking for seems to have wandered off. Let’s help you find your way back home.</p>
                    <a href="/admin/dashboard" class="btn btn-primary mt-4"><i class="material-icons md-keyboard_return"></i> Back to Home</a>
                </div>
            </div>
        </div>
    </body>
</html>