<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>UrbanDot</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/User/img/favcon.png" />
        <!-- Template CSS -->
        <link href="/Admin/css/main.css" rel="stylesheet" type="text/css" />
    </head>

    <body> 
        <section class="content-main">
            <div class="row mt-150">
                <div class="col-sm-12">
                    <div class="w-50 mx-auto text-center">
                        <img src="/User/img/404.png" width="350"/>
                        <h3 class="mt-40 mb-15">Oops! Page not found</h3>
                        <a href="/" class="btn btn-primary mt-4"><i class="material-icons md-keyboard_return"></i> Back to home</a>
                    </div>
                </div>
            </div>
        </section>
     
            <script src="/Admin/js/vendors/jquery-3.6.0.min.js"></script>
            <script src="/Admin/js/vendors/bootstrap.bundle.min.js"></script>
            <script src="/Admin/js/vendors/select2.min.js"></script>
            <script src="/Admin/js/vendors/perfect-scrollbar.js"></script>
            <script src="/Admin/js/vendors/jquery.fullscreen.min.js"></script>
            <!-- Main Script -->
            <script src="/Admin/js/main.js?v=1.1" type="text/javascript"></script>
    </body>
</html>
