<header class="main-header navbar d-flex justify-content-end">
        
    <div class="col-nav">
      
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link btn-icon" href="#">
            <i class="material-icons md-notifications animation-shake"></i>
            <span class="badge rounded-pill">3</span>
          </a>
        </li>
      </ul>
    </div>
  </header>